.wave {
    position: relative;
}

.wave:nth-child(1) {
    background: #EBECEF;
}

.wave:nth-child(2) {
    background: #EBECEF;
}

.wave:nth-child(3) {
    background: #EBECEF;
}

.wave canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}